.header-color{
    
    font-size: 50px;
    font-style: bold;  
}
.Background-color{
    background: #FDFC47;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24FE41, #505047); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
  }

  